<a href="https://colab.research.google.com/github/SrikarSai99/NNDL/blob/main/NNDL_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import math as mt
import random
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/My Drive/NNDL Datasets/Load Dataset.csv')
data.head()

         Date  Time   Load (kW)  ...  Unnamed: 7  Unnamed: 8  Unnamed: 9
0  01.09.2018  0:00  5551.82208  ...         NaN         NaN         NaN
1         NaN  1:00  4983.17184  ...         NaN         NaN         NaN
2         NaN  2:00  4888.39680  ...         NaN         NaN         NaN
3         NaN  3:00  5072.95872  ...         NaN         NaN         NaN
4         NaN  4:00  5196.25980  ...         NaN         NaN         NaN

[5 rows x 10 columns]

In [ ]:
x = []
y = []
for i in range(24, data.shape[0]):
    x.append(data['Load (kW)'].iloc[i-24])
    y.append(data['Load (kW)'].iloc[i])

In [ ]:
data = pd.DataFrame({'Previous Day Load' : x, 'Present Day Load' : y})
data.head()

   Previous Day Load  Present Day Load
0         5551.82208        4931.26380
1         4983.17184        4775.53968
2         4888.39680        4713.81120
3         5072.95872        4689.02628
4         5196.25980        4844.75040

In [ ]:
maxX = np.max(data['Previous Day Load'])
minX = np.min(data['Previous Day Load'])
maxY = np.max(data['Present Day Load'])
minY = np.min(data['Present Day Load'])

data['Previous Day Load'] = (data['Previous Day Load'] - minX) / (maxX - minX)
data['Present Day Load'] = (data['Present Day Load'] - minY) / (maxY - minY)

In [ ]:
from sklearn.model_selection import train_test_split
x = data['Previous Day Load']
y = data['Present Day Load']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)